
/* **********************  Banner css start  ********************** */

.slider-banner-container{
    width: 100%;
    height: 800px!important;
  }
  
  .slider-banner-container .slider-banner-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .banner-container{
    position: relative;
  }
  
  
  .swiper-content-container{
    position: absolute;
    top:50%;
    left: 30%;
    transform: translate(-50%,-50%);
  }
  
  .swiper-content-subtitle{
    font-weight: 600;
    font-size: 18px;
    color: var(--title-color);
    margin-bottom: -13px;
    letter-spacing: 1px;
  }

  .swiper-content-multiple{
    font-weight: 600;
    font-size: 18px;
    color: var(--title-color);
    letter-spacing: 1px;
    margin-bottom: 20px;
  }

  .swiper-content-submultiple{
    font-weight: 600;
    font-size: 28px;
    color: var(--title-color);
    letter-spacing: 1px;
    margin-bottom: 20px;
  }

  /* .swiper-content-subtitle3{
    font-weight: 600;
    font-size: 18px;
    color: var(--title-color);
    margin-bottom: -13px;
    letter-spacing: 1px;
    margin-bottom: 40px;
  }
  .swiper-content-subtitle{
    font-weight: 600;
    font-size: 18px;
    color: var(--title-color);
    margin-bottom: -13px;
    letter-spacing: 1px;
    margin-bottom: 40px;
  } */
  
  .swiper-content-title{
    margin-top:10px;
    margin-bottom:10px;
    font-weight: 700;
    font-size: 80px;
    text-transform: capitalize;
    color: var(--title-color);
    font-family: 'Playfair Display', serif;
  }
  
  .swiper-content-button{
    text-decoration: none;
    border:2px solid var(--title-color);
    padding: 15px 30px;
    color: var(--title-color);
    font-weight: 700;
    border-radius: 2px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: .3s ease-in-out;
  }
  
  .swiper-content-button:hover{
    background: var(--title-color);
    color: var(--bold-color);
  }
  
  .swiper-pagination{
    position: absolute;
    top:0%;
    left: 70%!important;
    transform: translateX(-50%) rotate(90deg)!important;
  }
  
  .swiper-pagination-bullet{
    margin: 0 5px!important;
    width: 12px!important;
    height: 12px!important;
    background: white!important;
    /* border-radius: 0px!important; */
    opacity: 1!important;
  }
  
  .swiper-pagination-bullet-active{
    background: var(--main-color)!important;
  }
  