
.footer-container{
    padding: 50px 20px 20px;
    background: var(--main-color);
  }
  
  .footer-column-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 20px;
  }

  .footer-column-header-logo{
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
    color: var(--text-color);
    
}
  
  .footer-column-header{
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 25px;  
    color: var(--text-color);
  }
  
  .footer-column ul li{
    list-style: none;
    padding-bottom: 12px;
  }
  
  .footer-column ul li a{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .5px;
    text-decoration: none;
    color: var(--text-color);
    opacity: .7;
  }
  
  .footer-column ul li a:hover{
    opacity: 1;
  }
  
  /* *************  Social icon css start   ***************** */

  .social-icon-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .social-icon-block{
    width: 38px;
    height: 38px;
    display: grid;
    background: var(--text-color);
    place-items: center;
    border-radius: 6px;
    cursor: pointer;
    transition: .2s ease-in;
  }
  
  .social-icon-block:hover{
    background: transparent;
  }
  
  .social-icon-block .twitter,
  .social-icon-block .facebook,
  .social-icon-block .linkedin,
  .social-icon-block .Instagram{
    width: 80%;
    fill:var(--title-color);
  }
  
  .social-icon-block:hover svg{
    fill:var(--bold-color);
  }
  
  /* ****  Social icon css end  *** */
  

  @media only screen and (max-width:1200px){

    .footer-column-container{
      grid-template-columns: repeat(auto-fit,minmax(180px,1fr)); 
      grid-gap: 10px;
    }
  
    .footer-column-header-logo{
      font-size: 26px;
    }
    
    .footer-column-header{
      font-size: 20px;
    }
        
    .footer-column ul li a{
      font-size: 14px;
    }

    .social-icon-block{
      width: 30px;
      height: 30px;
    }

  }