.offer-container{
    padding: 50px 20px;
}

.offer-header-container{
    text-align: center;
}

.offer-title{
    font-size: 40px;
    color: var(--main-color);
}

.offer-title-underline{
    margin: 14px auto;
    width: 140px;
    height: 4px;
    background: var(--main-color);
    border-radius: 50%;
}

.offer-subtitle{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}


/* ********************  Offer swiper start  ****************** */

.offer-swiper-container{
    padding-top: 40px;
}

.offerCard-container{
    margin: 0 auto;
    width: 95%;
    height: 400px;
    border-radius: 15px;
    background: #fcf9f4;
    overflow: hidden;
}

.offerCard-img-container{
  width: 100%;
  height: 68%;
}

.offerCard-img-container img{
    width: 100%;
    height: 100%;
}

.offerCard-content{
    width: 100%;
    height: 32%;
    padding: 15px 10px 0;
}

.offerCard-pricing-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.offer-pricing{
   font-size: 18px;
    font-weight: 500;
}

.offer-pricing span{
    padding-left: 4px;
    font-size: 25px;
    color: var(--main-color);
    font-weight: 700;
}

.offer-details{
    padding: 12px 40px;
    background: var(--main-color);
    border-radius: 30px;
    color: var(--title-color);
    font-size: 16px;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.offer-details:hover{
    background: var(--text-color);
}

.offerCard-rating-container{
    padding-top: 5px;
    display: flex;
}

.offerCard-rating-container .star{
  margin-right: 3px;
  fill:#fccf4d;
  width: 20px;
}

.offer-swiper-container .swiper-button-prev{
    left: 0;  
}
  
.offer-swiper-container .swiper-button-next{
    right: 0;
}


.offer-swiper-container .swiper-button-prev,
.offer-swiper-container .swiper-button-next{
    width: 50px!important;
    height: 50px!important;
    background: var(--main-color);
    border-radius: 50%;
    transition: .3s ease-in-out;
}


.offer-swiper-container .swiper-button-next:after, 
.offer-swiper-container .swiper-button-prev:after{
    color: var(--title-color);
    font-size: 18px!important;
    font-weight: 700;
    transition: .3s ease-in-out;
}

.offer-swiper-container .swiper-button-prev:hover,
.offer-swiper-container .swiper-button-next:hover{
    opacity: .8;
}